
<h1>Welcome to eFC.com, <%= @user.name %>! </h1>

<h4>Congratulations! You have successfully signed up to efinancialCounselor.</h4><br>

<h4>To login to the site, just follow this link: <%= @url %>.</h4><br>

<h4>Thanks for joining and have a great day!</h4><br>
