<div class="container">
  <div class="page header">
    <h1>Medical Claims Authorization Form (MCAF)</h1>
  </div> <br>

  <%= form_for :patient_record, url: update2_patient_path(current_user.id), method: "Patch" do |f| %>
  <%= f.radio_button(:medisave_access, "true") %> <label class="fontinput"> MCAF - Multiple </label>
  <p>Authorise payment for current and future hospitalisation treatment using MSV, MSHL and PMI</p> <br>
  <%= f.radio_button(:medisave_access, "false") %> <label class="fontinput"> MCAF - Single </label>
  <p>One-time authorisation for the medical institution to use MSV, MSHL and PMI to pay for current hospitalisation treatment</p> <br>
  <%= f.submit "Save My Option", class: "btn btn-primary btn-lg"%>
  <%end%>
</div>
