<div class="container">
  <div class="page header">
    <h1>National Electronic Financial Records (NeFR) <br>
    <small>Pls click yes to acknowledge that you are willing to release your relevant financial records for means testing. This data will be recorded for future admissions as well.</small></h1>
  </div>
  <br>
  <%= form_for :patient_record, url: patient_path(current_user.id), method: "Patch" do |f| %>
  <%= f.radio_button(:means_testing, "true") %> <label class="fontinput"> Yes </label>
  <%= f.radio_button(:means_testing, "false") %> <label class="fontinput"> No </label> <br> <br>
  <%= f.submit "Save My Option", class: "btn btn-primary btn-lg"%>
  <%end%>

</div>
