/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 // #warda,
 // #wardb1,
 // #wardb2,
 // #wardc {
 //   visibility: hidden ;
 // }

 $footer-header-height: 102px;
 $footer-body-height: 50px;

 html {
   position: relative;
   min-height: 100%;
 }

 body {
   background: white;
   background-repeat: repeat-x;
   margin-bottom: $footer-header-height + $footer-body-height;
 }

 footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   ul {
     list-style: none;
     padding-left: 0;
     li {
       display: inline;
       margin-right: 1em;
       a {
         text-transform: uppercase;
         font-weight: bold;
         color: white;
       }

       a:hover {
         text-transform: uppercase;
         color: white;
       }
     }
   }
 }

 footer.header {
   bottom: $footer-body-height;
  //  background: image-url( "footer_art.png" ) repeat-x;
   height: $footer-header-height;
 }
 footer.body {
   background: #B2DBD5;
   min-height: $footer-body-height;
 }
