/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Roboto|Pangolin');

 .navbar {
   background: #2B616D;
   border: none;
   font-size: 2em;
   font-family: "Roboto", Sans-serif;
 }

 .jumbotron {
   background: #FA8D62;
   border-radius: 10px;
 }

.fontinput {
  font-size: 1.8em;
}

.fontselect {
  font-size: 1.3em;
}

.alert {
  font-family: "Roboto", Sans-serif;
  font-size: 1.5em;
}

.btn-primary {
  background: #FA8D62;
}

.selectbox {
  border: 2px solid black;
  border-color: #2B616D;
  text-align: center;
  line-height: 50px;
}

input[type='radio']{
    margin: 15px;
}

.wardfont {
  font-size: 1.2em;
}

// $table-border-radius: 10px;
// $table-highlight-color: #EAF3F3;
// $table-header-background-color: #167F92;
// $table-header-text-color: #FFF;
// $table-header-border: 1px solid #FFF;
//
// // The Responstable mixin
//
// // @mixin responstable(
// //   $breakpoint: $table-breakpoint,
// //   $background-color: $table-background-color,
// //   $text-color: $table-text-color,
// //   $outer-border: $table-outer-border,
// //   $cell-border: $table-cell-border,
// //   $border-radius: none,
// //   $highlight-color: none,
// //   $header-background-color: $table-background-color,
// //   $header-text-color: $table-text-color,
// //   $header-border: $table-cell-border) {
//
//   .responstable {
//     margin: 1em 0;
//     width: 100%;
//     overflow: hidden;
//     background: $background-color;
//     color: $text-color;
//     border-radius: $border-radius;
//     border: $outer-border;
//
//     tr {
//       border: $cell-border;
//       &:nth-child(odd) { // highlight the odd rows with a color
//         background-color: $highlight-color;
//       }
//     }
//
//     th {
//       display: none; // hide all the table header for mobile
//       border: $header-border;
//       background-color: $header-background-color;
//       color: $header-text-color;
//       padding: 1em;
//       &:first-child { // show the first table header for mobile
//         display: table-cell;
//         text-align: center;
//       }
//       &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
//         display: table-cell;
//         span {display:none;}
//         &:after {content:attr(data-th);}
//       }
//       @media (min-width: $breakpoint) {
//         &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
//           span {display: block;}
//           &:after {display: none;}
//         }
//       }
//     }
//
//     td {
//       display: block; // display the table data as one block for mobile
//       word-wrap: break-word;
//       max-width: 7em;
//       &:first-child {
//         display: table-cell; // display the first one as a table cell (radio button) for mobile
//         text-align: center;
//         border-right: $cell-border;
//       }
//       @media (min-width: $breakpoint) {
//         border: $cell-border;
//       }
//     }
//
//     th, td {
//       text-align: left;
//       margin: .5em 1em;
//       @media (min-width: $breakpoint) {
//         display: table-cell; // show the table as a normal table for tablet and desktop
//         padding: 1em;
//       }
//     }
//   }
// }

// Include the mixin (with extra options as overrides)

// @include responstable(
//   $border-radius: $table-border-radius,
//   $highlight-color: $table-highlight-color,
//   $header-background-color: $table-header-background-color,
//   $header-text-color: $table-header-text-color,
//   $header-border: $table-header-border);

// General styles

 $footer-header-height: 102px;
 $footer-body-height: 50px;

table, th, td {
  background-color: #FFF;
  color: #024457;
  border: 3px solid #167F92;
  padding: 20px;
  font-size: 20px;
}

th {
  font-size: 20px;
}


 html {
   position: relative;
   min-height: 100%;
 }

 body {
   background: white;
   background-repeat: repeat-x;
   margin-bottom: $footer-header-height + $footer-body-height;
   font-family: "Roboto", Sans-serif;
 }

 footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   ul {
     list-style: none;
     padding-left: 0;
     li {
       display: inline;
       margin-right: 1em;
       a {
         text-transform: uppercase;
         font-weight: bold;
         color: white;
       }

       a:hover {
         text-transform: uppercase;
         color: white;
       }
     }
   }
 }

 footer.header {
   bottom: $footer-body-height;
   height: $footer-header-height;
 }
 footer.body {
   background: #B2DBD5;
   min-height: $footer-body-height;
   font-family: "Roboto", Sans-serif;
 }
