<div class="container">
  <div class="page-header">
    <h1> Your Index Page <br>
      <small> This lists all your previous admissions </small></h1>
    </div>
  </div>

  <div class="container">
    <% @patient.each do |p| %>
    <ul>
      <li><%= p.treatment%></li>
      <li><%= p.start_treatment%></li>
      <li><%= p.end_treatment%></li>
    </ul>
    <% end %>

    <%= link_to 'Personal Details Page', user_path(current_user.id), class:"btn btn-lg btn-primary" %>
  </div>
