<div class="container-fluid">
  <h1>National Electronic Financial Records (NeFR)</h1>

<h4>Pls click yes to acknowledge that you are willing to release your relevant financial records for means testing. This data will be recorded for future admissions as well.</h4>
</div>

<%= form_for :patient_record, patient_path(@patient_record) do |f| %>
<%= f.radio_button(:means_testing, "true") %> Yes
<%= f.radio_button(:means_testing, "false") %> No
<%= f.submit %>
<%end%>
