<div class="jumbotron">
<h1>PatientAdmissions#show patient latest history</h1>
</div>
<p>Find me in app/views/patient_admissions/show.html.erb</p>

<%= @current_user.name %>
<%= @patient.inspect %>

<%= link_to "Next", edit_patient_path %>
